@import '/src/styles/variables';

.search {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  & > label {
    @extend .font-14-semi-bold;
    color: $dark_grey_2;
  }

  & > div {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    & > input {
      border-radius: 8px;
      border: 1px solid $light_grey_2;
      outline: none;
      padding: 16px;
      width: 100%;
      padding-right: 40px;
      @extend .font-14-semi-bold;
      color: $dark_grey_2;

      &::placeholder {
        @extend .font-14-semi-bold;
        color: $dark_grey_2;
      }
    }

    & > .search__icon {
      position: absolute;
      width: 18px;
      height: 18px;
      right: 20px;
    }
  }

  .placeholder-gray {
    &::placeholder {
      @extend .font-14-semi-bold;
      color: $dark_grey_1;
    }
  }

  .border-error {
    border: 1px solid $error;
  }
}
