@import '/src/styles/variables';

.button-block {
  text-align: center;
  height: 38px;
  border-radius: 4px;
  @extend .font-14-semi-bold;
  color: $white;
  outline: none;
  background-color: $purple;

  &:hover {
    background-color: $purple_dark;
  }

  &:disabled {
    border: none;
    cursor: not-allowed;
    background-color: $dark_grey_1;
  }
}

.background-white {
  text-align: center;
  height: 38px;
  border-radius: 4px;
  border: 1px solid $purple;
  background-color: $white;
  color: $purple;

  &:hover {
    color: $purple_dark;
    border-color: $purple_dark;
  }

  &:disabled {
    color: $dark_grey_1;
    border-color: $dark_grey_1;
    border-color: none;
    cursor: not-allowed;
  }
}
