@import '/src/styles/variables';
.header {
  width: 100%;
  background-color: $white;

  & > .container {
    padding: 52px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 28px;
    }

    & > h2 {
      margin: 0px;
      cursor: pointer;
      @extend .logo;
    }

    & > .search-wraper {
      width: 25%;
      margin-left: 105px;

      @media screen and (max-width: $mobile) {
        width: 100%;
        margin: 0;
      }
    }

    & > .checkbox-wraper {
      margin-left: 24px;
      display: flex;
      column-gap: 32px;

      @media screen and (max-width: $mobile) {
        margin: 0;
      }
    }

    & > .navigation-wraper {
      position: absolute;
      right: 5%;
    }
  }
}
