.search {
  display: flex;
  align-items: center;
  position: relative;

  & > input {
    width: 20%;
    height: 24px;
    padding-right: 40px;
  }

  &__icon {
    position: relative;
    right: 20px;
  }
}
