@import '/src/styles/variables';

.product-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: $light_grey_4;

  & > .list {
    min-height: 75ch;
    width: 90%;
    margin: auto;
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 24px;

    @media screen and (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
